<p id="notice"><%= notice%></p>

<div class="container">
  
  <div class="name">
    <%= @product.name %>
  </div>

  <div class="image">
    <%= image_tag(@product.image_url, width: 400) %>
  </div>
  
  <div class="describe">
    <div class="description">
      <strong>Description:</strong>
        <%= @product.description %>
    </div>

   <div class="color">
     <strong>Colour:</strong>
      <%= @product.colour %>
    </div>

    <div class="pricee">
      <strong>Price:</strong>
        <%= @product.price %>
    </div>
  </div><!--end describe-->
      <p>
        <%= render partial: "new_comment" %>
      </p>

   <%= render partial: "comments" %>
  <br>
  
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>

</div><!--end container-->