<p id="notice"><%= notice%></p>

<% cache @product do %>
<div class="container">
  <div class="row" data-product-id="<%= @product.id %>">
    <div class="col-md-12 col-md-offset-0">
      
      <div class="image">
        <div class="name">
          <h3><%= @product.name %></h3>
            <%= image_tag(@product.image_url, class: "img-zoom", data_zoom_image: "@product.image_url") %>
              <p><%= link_to 'Edit', edit_product_path(@product) %> |
              
                 <%= link_to 'Back', products_path %></p>
                 
        </div><!--end name-->             
      </div><!--end image-->
        
    
      <div class="describe">
        <strong>Description:</strong>
          <p><%= @product.description %></p>
      </div><!--end describe-->      
       
    
      <div class="color">
        <strong>Colour:</strong>
          <%= @product.colour %>
      </div>
    
    
      <div class="price">
        <strong>Price:</strong>
          <%= number_to_currency (@product.price) %>
      </div>
    
       <br>
<% end %>       
    
    <div class="rated" data-score="<%= @product.average_rating %>"> 
      <p>Average Rating:</p>
    </div> 
     
      
        <%= form_tag "/payments/create" do %>
          <%= render partial: "shared/stripe_checkout_button" %>
        <% end %>
    
        <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
       
        <%= render 'new_comment' %>
        
    </div><!--end row--> 
</div><!--end container-->   
   
     
     <%= render 'comments' %>
     